<template>
  <div>
    <div class="mt-12">
      <div class="flex items-center justify-center">
        <img class="h-48" src="~/assets/multipower-logo.png" alt="logo">
      </div>
    </div>
    <div class="flex items-center justify-center text-center">
      <div class="flex flex-col md:w-1/2 sm:w-full mx-2">
        <h2 v-html="header" class="text-3xl uppercase tracking-tight"></h2>
        <p v-html="body"></p>
      </div>
    </div>
    <div class="flex justify-center my-2 mx-4 md:mx-0">
      <div class="w-full max-w-xl bg-white rounded-lg shadow-md p-6 mt-8" v-if="!formSended">
        <div class="flex flex-wrap -mx-3">
          <div class="w-full md:w-full px-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for='Password'>Имя Фамилия</label>
            <input
              v-model="form.name"
              class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
              required>
          </div>
          <div class="w-full md:w-full px-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for='Password'>Номер
              телефона</label>
            <input
              v-model="form.phone"
              class="appearance-none block w-full bg-white text-gray-900 font-medium border border-gray-400 rounded-lg py-3 px-3 leading-tight focus:outline-none"
              required>
          </div>
          <div class="w-full md:w-full px-3 mb-6">
            <button
              @click="formSubmit"
              class="appearance-none block w-full bg-blue-600 text-gray-100 font-bold border border-gray-200 rounded-lg py-3 px-3 leading-tight hover:bg-blue-500 focus:outline-none hover:bg-white focus:border-gray-500">
              Отправить
            </button>
            <p class="mt-4 text-sm text-center text-red-700" v-if="error">Проверьте правильность введенных данных!</p>
          </div>
        </div>
      </div>
      <div v-else class="mt-6">
        <div class="bg-green-200 border-t-4 border-green-500 rounded-b text-green-900 px-4 md:px-12 lg:px-24 py-6 shadow-md text-center" role="alert">
          <div class="flex">
            <div>
              <p class="font-bold text-2xl">Спасибо, {{ form.name }}!</p>
              <p>Ваша заявка успешно отправлена!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

const GSheetReader = require('g-sheets-api');

export default {
  data: () => ({
    header : '',
    body : '',
    form: {
      name: '',
      phone: '',
    },
    formSended: false,
    error: false,
  }),

  async mounted() {
    await this.loadText()
  },

  methods: {

    loadText() {
      const options = {
        sheetId: '1fYfPl2x0QTzEJppY-WArkPBPBDHDvbzi1qVEHDHQxxs',
        returnAllResults: true,
        filter: {
          'header': 'Only',
        },
        filterOptions: {
          operator: 'or',
          matching: 'loose'
        }
      }


      GSheetReader(
        options,
        results => {

          let content = results.slice(-1).pop()

          console.log(content)

          this.header = content.header
          this.body = content.body

        },
        error => {
          // OPTIONAL: handle errors here
        }
      );

    },

    formSubmit() {
      this.$axios.post('https://crm.multipower05.ru/api/request', this.form)
        .then((response) => {
          console.log(response);
          this.formSended = true;
        })
        .catch((error) => {
          this.error = true;
        });
    }
  }
}
</script>
